In [1]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn import metrics

Importing the data set

In [2]:
dataSet = pd.read_csv('./Hitters.csv')
dataSet.head()

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,League,Division,PutOuts,Assists,Errors,Salary,NewLeague
0,293,66,1,30,29,14,1,293,66,1,30,29,14,A,E,446,33,20,NaN,A
1,315,81,7,24,38,39,14,3449,835,69,321,414,375,N,W,632,43,10,475.0,N
2,479,130,18,66,72,76,3,1624,457,63,224,266,263,A,W,880,82,14,480.0,A
3,496,141,20,65,78,37,11,5628,1575,225,828,838,354,N,E,200,11,3,500.0,N
4,321,87,10,39,42,30,2,396,101,12,48,46,33,N,E,805,40,4,91.5,N

Checking the Null Values

In [3]:
colName = dataSet.columns
for i in colName:
    print(dataSet[i].isnull().values.any(),end=" ")

False False False False False False False False False False False False False False False False False False True False

Removing the outliers in Sal col

In [4]:
Q1 = dataSet['Salary'].quantile(0.25)
Q3 = dataSet['Salary'].quantile(0.75)
IQR = Q3 - Q1
lower = Q1 - 1.5 * IQR
upper = Q3 + 1.5 * IQR
upper_array = np.where(dataSet['Salary']>=upper)[0]
lower_array = np.where(dataSet['Salary']<=lower)[0] 

dataSet.drop(index=upper_array,inplace=True)
dataSet.drop(index=lower_array,inplace=True)

Filling Null Values in Sal col

In [5]:
mean = np.mean(dataSet['Salary'])
dataSet['Salary'].fillna(value=mean,inplace=True)

Label Encoding of the categorial columns

In [6]:
categorialCol = []
for column in dataSet.columns:
    a = dataSet[column].unique()
    if len(a) == 2:
        categorialCol.append(column)

labelEncoder = preprocessing.LabelEncoder()
for column in categorialCol:
    dataSet[column] = labelEncoder.fit_transform(dataSet[column])

Spliting the Input/Output And scaling

In [7]:
X = dataSet.drop(['Salary'],axis=1)
Y = dataSet.iloc[:,-2]

scaler = preprocessing.StandardScaler()
X_Scaled = scaler.fit_transform(X)
X_Scaled = np.insert(X_Scaled,0,values=1,axis=1)

Spliting the Dataset

In [8]:
X_train,X_test,Y_train,Y_test = train_test_split(X_Scaled,Y,test_size=0.3,random_state=42)

Training the Dataset using Ridge

In [9]:
ridge = linear_model.Ridge(alpha=0.5748)
model = ridge.fit(X_train,Y_train)

Y_predict = model.predict(X_test)
print(metrics.r2_score(Y_test,Y_predict))

0.225100366245521

Training Dataset using LASSO

In [10]:
Lasso = linear_model.Lasso(alpha=0.5748)
model = Lasso.fit(X_train,Y_train)

Y_predict = model.predict(X_test)
print(metrics.r2_score(Y_test,Y_predict))

0.2318214260756385