In [79]:
import pandas as pd
import numpy as np

Loading the Dataset

In [80]:
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data"
dataSet = pd.read_csv(url)

Adding Columns names to Dataset

In [81]:
Col= ["symboling", "normalized_losses",
"make", "fuel_type", "aspiration","num_doors", "body_style", "drive_wheels",
"engine_location", "wheel_base", "length", "width", "height", "curb_weight",
"engine_type", "num_cylinders", "engine_size", "fuel_system", "bore", "stroke",
"compression_ratio", "horsepower", "peak_rpm", "city_mpg", "highway_mpg", "price"]
print(len(Col))
dataSet.columns = Col
dataSet.head()

26

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
3,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
4,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250

Replacing '?' values with NaN

In [82]:
dataSet = dataSet.replace('?', np.nan)
dataSet

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
3,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
4,2,NaN,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
200,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
201,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
202,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
203,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

Replacing all NaN values with Central tendency and Droping NaN values in price columns

In [83]:
dataSet  = dataSet.dropna(subset="price")
# dataSet.to_csv("test.csv")
# print(dataSet.isnull().sum())

col = ['normalized_losses','bore','stroke','horsepower','peak_rpm']
for i in col:
    median = dataSet[i].median()
    dataSet[i] = dataSet[i].fillna(median)

mode = dataSet['num_doors'].mode()
mode

dataSet['num_doors']=dataSet['num_doors'].fillna(mode[0])
dataSet[20:30]

/tmp/ipykernel_9405/1289604881.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataSet[i] = dataSet[i].fillna(median)
/tmp/ipykernel_9405/1289604881.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataSet[i] = dataSet[i].fillna(median)
/tmp/ipykernel_9405/1289604881.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataSet[i] = dataSet[i].fillna(median)
/tmp/ipykernel_9405/1289604881.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataSet[i] = dataSet[i].fillna(median)
/tmp/ipykernel_9405/1289604881.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataSet[i] = dataSet[i].fillna(median)
/tmp/ipykernel_9405/1289604881.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataSet['num_doors']=dataSet['num_doors'].fillna(mode[0])

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
21,1,118,dodge,gas,std,two,hatchback,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.4,68,5500,31,38,6377
22,1,118,dodge,gas,turbo,two,hatchback,fwd,front,93.7,...,98,mpfi,3.03,3.39,7.6,102,5500,24,30,7957
23,1,148,dodge,gas,std,four,hatchback,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.4,68,5500,31,38,6229
24,1,148,dodge,gas,std,four,sedan,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.4,68,5500,31,38,6692
25,1,148,dodge,gas,std,four,sedan,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.4,68,5500,31,38,7609
26,1,148,dodge,gas,turbo,four,sedan,fwd,front,93.7,...,98,mpfi,3.03,3.39,7.6,102,5500,24,30,8558
27,-1,110,dodge,gas,std,four,wagon,fwd,front,103.3,...,122,2bbl,3.34,3.46,8.5,88,5000,24,30,8921
28,3,145,dodge,gas,turbo,two,hatchback,fwd,front,95.9,...,156,mfi,3.60,3.90,7.0,145,5000,19,24,12964
29,2,137,honda,gas,std,two,hatchback,fwd,front,86.6,...,92,1bbl,2.91,3.41,9.6,58,4800,49,54,6479
30,2,137,honda,gas,std,two,hatchback,fwd,front,86.6,...,92,1bbl,2.91,3.41,9.2,76,6000,31,38,6855

For “num_doors” and “num_cylinders”: convert words (number names) to figures
for e.g., two to 2

In [84]:
print(dataSet['num_doors'].unique())
print(dataSet['num_cylinders'].unique())
stringToNumber = {
    'one':1,
    'two':2,
    'three':3,
    'four':4,
    'five':5,
    'six':6,
    'eight':8,
    'twelve': 12,
}
temp = dataSet.copy()
print(len(dataSet['num_doors']))

for key in stringToNumber.keys():
    temp['num_doors'] = temp['num_doors'].replace(key,stringToNumber[key])
    temp['num_cylinders'] = temp['num_cylinders'].replace(key,stringToNumber[key])
temp.head()
dataSet = temp.copy()

['two' 'four']
['four' 'six' 'five' 'three' 'twelve' 'two' 'eight']
200

For "body_style", "drive_wheels": use dummy encoding scheme

In [85]:
from sklearn import preprocessing 

label_encoder = preprocessing.LabelEncoder()

In [86]:
dataSet = pd.get_dummies(dataSet,columns=['body_style','drive_wheels']).copy()
dataSet.head()

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,engine_location,wheel_base,length,width,...,highway_mpg,price,body_style_convertible,body_style_hardtop,body_style_hatchback,body_style_sedan,body_style_wagon,drive_wheels_4wd,drive_wheels_fwd,drive_wheels_rwd
0,3,115.0,alfa-romero,gas,std,2,front,88.6,168.8,64.1,...,27,16500,True,False,False,False,False,False,False,True
1,1,115.0,alfa-romero,gas,std,2,front,94.5,171.2,65.5,...,26,16500,False,False,True,False,False,False,False,True
2,2,164,audi,gas,std,4,front,99.8,176.6,66.2,...,30,13950,False,False,False,True,False,False,True,False
3,2,164,audi,gas,std,4,front,99.4,176.6,66.4,...,22,17450,False,False,False,True,False,True,False,False
4,2,115.0,audi,gas,std,2,front,99.8,177.3,66.3,...,25,15250,False,False,False,True,False,False,True,False

In [87]:
dictTFValue={
    'True':1,
    'False':0,
}
colNames = ['body_style_convertible','body_style_hardtop','body_style_hatchback','body_style_sedan',	'body_style_wagon','drive_wheels_4wd','drive_wheels_fwd','drive_wheels_rwd']

for selectCol in colNames:
    dataSet[selectCol] = label_encoder.fit_transform(dataSet[selectCol])

dataSet.head()

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,engine_location,wheel_base,length,width,...,highway_mpg,price,body_style_convertible,body_style_hardtop,body_style_hatchback,body_style_sedan,body_style_wagon,drive_wheels_4wd,drive_wheels_fwd,drive_wheels_rwd
0,3,115.0,alfa-romero,gas,std,2,front,88.6,168.8,64.1,...,27,16500,1,0,0,0,0,0,0,1
1,1,115.0,alfa-romero,gas,std,2,front,94.5,171.2,65.5,...,26,16500,0,0,1,0,0,0,0,1
2,2,164,audi,gas,std,4,front,99.8,176.6,66.2,...,30,13950,0,0,0,1,0,0,1,0
3,2,164,audi,gas,std,4,front,99.4,176.6,66.4,...,22,17450,0,0,0,1,0,1,0,0
4,2,115.0,audi,gas,std,2,front,99.8,177.3,66.3,...,25,15250,0,0,0,1,0,0,1,0

For “make”, “aspiration”, “engine_location”,fuel_type: use label encoding
scheme

In [88]:
colNames = ['make','aspiration','engine_location','fuel_type']
for col in colNames:
    dataSet[col]= label_encoder.fit_transform(dataSet[col])
dataSet.head()

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,engine_location,wheel_base,length,width,...,highway_mpg,price,body_style_convertible,body_style_hardtop,body_style_hatchback,body_style_sedan,body_style_wagon,drive_wheels_4wd,drive_wheels_fwd,drive_wheels_rwd
0,3,115.0,0,1,0,2,0,88.6,168.8,64.1,...,27,16500,1,0,0,0,0,0,0,1
1,1,115.0,0,1,0,2,0,94.5,171.2,65.5,...,26,16500,0,0,1,0,0,0,0,1
2,2,164,1,1,0,4,0,99.8,176.6,66.2,...,30,13950,0,0,0,1,0,0,1,0
3,2,164,1,1,0,4,0,99.4,176.6,66.4,...,22,17450,0,0,0,1,0,1,0,0
4,2,115.0,1,1,0,2,0,99.8,177.3,66.3,...,25,15250,0,0,0,1,0,0,1,0

For fuel_system: replace values containing string pfi to 1 else all values to 0.

In [89]:
values = dataSet['fuel_system'].unique()
values

for val in values:
    if val != "spfi":
        dataSet['fuel_system'] = dataSet['fuel_system'].replace(val,0)

dataSet['fuel_system'] = dataSet['fuel_system'].replace('spfi',1)

For engine_type: replace values containing string ohc to 1 else all values to 0.

In [90]:
values = dataSet['engine_type'].unique()

for val in values:
    if val != "ohc":
        dataSet['engine_type'] = dataSet['engine_type'].replace(val,0)

dataSet['engine_type'] = dataSet['engine_type'].replace('ohc',1)

Divide the dataset into input features (all columns except price) and output variable
(price). Scale all input features.

In [91]:
X = dataSet.drop('price',axis='columns')
Y = dataSet['price']
X.head()

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,engine_location,wheel_base,length,width,...,city_mpg,highway_mpg,body_style_convertible,body_style_hardtop,body_style_hatchback,body_style_sedan,body_style_wagon,drive_wheels_4wd,drive_wheels_fwd,drive_wheels_rwd
0,3,115.0,0,1,0,2,0,88.6,168.8,64.1,...,21,27,1,0,0,0,0,0,0,1
1,1,115.0,0,1,0,2,0,94.5,171.2,65.5,...,19,26,0,0,1,0,0,0,0,1
2,2,164,1,1,0,4,0,99.8,176.6,66.2,...,24,30,0,0,0,1,0,0,1,0
3,2,164,1,1,0,4,0,99.4,176.6,66.4,...,18,22,0,0,0,1,0,1,0,0
4,2,115.0,1,1,0,2,0,99.8,177.3,66.3,...,19,25,0,0,0,1,0,0,1,0

In [92]:
scaler = preprocessing.MinMaxScaler()
colNames = ['normalized_losses','bore','stroke','compression_ratio','horsepower','peak_rpm','city_mpg','highway_mpg',"length", "width", "height", "curb_weight",'wheel_base']

for col in colNames:
    X[col] = scaler.fit_transform(np.array(X[col]).reshape(-1,1))

X.head()

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,engine_location,wheel_base,length,width,...,city_mpg,highway_mpg,body_style_convertible,body_style_hardtop,body_style_hatchback,body_style_sedan,body_style_wagon,drive_wheels_4wd,drive_wheels_fwd,drive_wheels_rwd
0,3,0.261780,0,1,0,2,0,0.058309,0.413433,0.324786,...,0.222222,0.289474,1,0,0,0,0,0,0,1
1,1,0.261780,0,1,0,2,0,0.230321,0.449254,0.444444,...,0.166667,0.263158,0,0,1,0,0,0,0,1
2,2,0.518325,1,1,0,4,0,0.384840,0.529851,0.504274,...,0.305556,0.368421,0,0,0,1,0,0,1,0
3,2,0.518325,1,1,0,4,0,0.373178,0.529851,0.521368,...,0.138889,0.157895,0,0,0,1,0,1,0,0
4,2,0.261780,1,1,0,2,0,0.384840,0.540299,0.512821,...,0.166667,0.236842,0,0,0,1,0,0,1,0

Train a linear regressor on 70% of data (using inbuilt linear regression function of
Python) and test its performance on remaining 30% of data.

In [94]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [95]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,random_state=42,test_size=0.20)

In [96]:
model = LinearRegression()

model.fit(X_train,Y_train)

LinearRegression()

In [97]:
prediction = model.predict(X_test)
print(prediction)

[ 9047.65926305 32132.13503787  6494.63055195  7971.90772958
 13268.40510045  7176.46806542 41047.56157777  8772.46500642
 19361.44370821 45516.40571171 28859.32564301  9175.65593114
 14073.33304296 14998.14935824 13224.88459038  8871.56774255
 11362.56493449  5588.50325601 10426.43336006 30742.08935392
 36782.94633692 -1567.22735972  3789.39002325  5464.13096873
 25652.04474173 10319.04382288  9607.39397763 31404.21126431
  8705.90881592 13645.97105395 15242.31818174  8062.46015496
 11003.03431939  7118.17849434  6574.59634813 17548.10522777
  7801.42764789  7429.79217974 14657.19635864 10655.63802793]

In [101]:
import sklearn.metrics as sm

In [102]:
print("Mean absolute error =", round(sm.mean_absolute_error(Y_test, prediction), 2)) 
print("Mean squared error =", round(sm.mean_squared_error(Y_test, prediction), 2)) 
print("Median absolute error =", round(sm.median_absolute_error(Y_test, prediction), 2)) 
print("Explain variance score =", round(sm.explained_variance_score(Y_test, prediction), 2)) 
print("R2 score =", round(sm.r2_score(Y_test, prediction), 2))

Mean absolute error = 2142.39
Mean squared error = 8596077.19
Median absolute error = 1646.09
Explain variance score = 0.92
R2 score = 0.92

Reduce the dimensionality of the feature set using inbuilt PCA decomposition and then
again train a linear regressor on 70% of reduced data (using inbuilt linear regression
function of Python). Does it lead to any performance improvement on test set?

In [103]:
from sklearn.decomposition import PCA

In [116]:
pca = PCA(n_components=10)
pca.fit(X)
pca_train_set= pca.transform(X_train)
pca_test_set= pca.transform(X_test)

In [117]:
modelPCA = LinearRegression()
modelPCA.fit(pca_train_set,Y_train)

LinearRegression()

In [118]:
predictionPCA = modelPCA.predict(pca_test_set)
print(predictionPCA)

[ 9794.35507874 28658.21267336  4704.27026946 10945.20218785
 11729.39447262  6703.28035391 40677.36128827  8590.39701922
 20592.66209862 42213.56039521 24998.58551244  9068.2486118
 17655.77470408 16229.66245724 12178.51555755  7876.66748321
 11789.53181319  5794.95090278 11905.48841496 30898.68741233
 24674.47928291  2506.83546044  5552.68247603  7680.45238563
 24192.42032275 10661.14607048  9212.6398164  30061.66652314
 11561.67879889 11795.34343324 14934.65939897  7770.65626542
 10457.85871271  7166.85244707  7842.52807774 20343.67465194
  9332.85241341  8095.70602805 16952.66416697  9987.27031381]

In [119]:
print("Mean absolute error =", round(sm.mean_absolute_error(Y_test, predictionPCA), 2)) 
print("Mean squared error =", round(sm.mean_squared_error(Y_test, predictionPCA), 2)) 
print("Median absolute error =", round(sm.median_absolute_error(Y_test, predictionPCA), 2)) 
print("Explain variance score =", round(sm.explained_variance_score(Y_test, predictionPCA), 2)) 
print("R2 score =", round(sm.r2_score(Y_test, predictionPCA), 2))

Mean absolute error = 2866.97
Mean squared error = 16062221.74
Median absolute error = 1671.36
Explain variance score = 0.86
R2 score = 0.86